@use '../../mixins' as m;

.loading {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  @include m.flex();
  z-index: 2;
  position: relative;
  &-container {
    @include m.flex(center, center, column);
    &-text {
      margin-top: 20px;
      font-size: 32px;
      font-weight: 700;
      font-family: 'Acme', sans-serif;
    }
  }
}
